body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
h1{
    font-size: 9rem;
}
button{
    padding: 2rem 4rem;
    background-color: rgb(17, 252, 13);
    border: rgb(0, 0, 0);
    border-radius: 0.5rem;
    

}